### cv_results for SVR

In [1]:
import pandas as pd
df = pd.read_csv("../data/all_models/SVR.csv", header=0, index_col=0)

In [2]:
results=[]

In [3]:
def save_result(df, model_name):
    max_mean_params=df['mean_test_score'].idxmax()
    results.append({'model' : model_name, 'params' : max_mean_params})

In [4]:
df.columns.values

array(['mean_fit_time', 'std_fit_time', 'mean_score_time',
       'std_score_time', 'param_C', 'param_coef0', 'param_degree',
       'param_gamma', 'param_kernel', 'param_tol', 'params',
       'split0_test_score', 'split1_test_score', 'split2_test_score',
       'split3_test_score', 'split4_test_score', 'split5_test_score',
       'split6_test_score', 'split7_test_score', 'split8_test_score',
       'split9_test_score', 'mean_test_score', 'std_test_score',
       'rank_test_score'], dtype=object)

In [5]:
dd=df.groupby(['param_C','param_coef0', 'param_degree', 'param_gamma', 'param_kernel', 'param_tol']).agg({'mean_test_score': "mean", 'std_test_score': "mean"})

In [6]:
xd=pd.DataFrame(dd)

In [7]:
xd

                                                                     mean_test_score  \
param_C param_coef0 param_degree param_gamma param_kernel param_tol
0.0001  0.01        3            auto        linear       0.00001          -0.039704
                                                          0.00010          -0.039705
                                                          0.00100          -0.039720
                                                          0.01000          -0.039778
                                                          0.10000          -0.036781
...                                                                              ...
25.0000 10.00       8            scale       sigmoid      0.00001          -0.056269
                                                          0.00010          -0.056269
                                                          0.00100          -0.056269
                                                          0.01000          -0.056274
                                                          0.10000          -0.051496

                                                                     std_test_score
param_C param_coef0 param_degree param_gamma param_kernel param_tol
0.0001  0.01        3            auto        linear       0.00001          0.063404
                                                          0.00010          0.063403
                                                          0.00100          0.063451
                                                          0.01000          0.063227
                                                          0.10000          0.061831
...                                                                             ...
25.0000 10.00       8            scale       sigmoid      0.00001          0.063646
                                                          0.00010          0.063646
                                                          0.00100          0.063646
                                                          0.01000          0.063647
                                                          0.10000          0.058165

[2640 rows x 2 columns]

In [8]:
xd.to_csv("../data/all_models/cv_results_interpretation/cv_results_SVR.csv", encoding='utf-8', header=True)

In [9]:
save_result(xd, 'SVR')

### cv_results for Lasso

In [10]:
df = pd.read_csv("../data/all_models/Lasso.csv", header=0, index_col=0)

In [11]:
df.columns.values

array(['mean_fit_time', 'std_fit_time', 'mean_score_time',
       'std_score_time', 'param_alpha', 'param_random_state', 'params',
       'split0_test_score', 'split1_test_score', 'split2_test_score',
       'split3_test_score', 'split4_test_score', 'split5_test_score',
       'split6_test_score', 'split7_test_score', 'split8_test_score',
       'split9_test_score', 'mean_test_score', 'std_test_score',
       'rank_test_score'], dtype=object)

In [12]:
dd=df.groupby(['param_alpha']).agg({'mean_test_score': "mean", 'std_test_score': "mean"})

In [13]:
xd=pd.DataFrame(dd)

In [14]:
xd

             mean_test_score  std_test_score
param_alpha
0.001               0.206384        0.617849
0.005               0.291197        0.512019
0.010               0.322450        0.456979
0.050               0.202680        0.258652
0.100              -0.008026        0.101629
0.500              -0.074849        0.068368
1.000              -0.074849        0.068368

In [15]:
# xd.to_csv("../data/all_models/cv_results_interpretation/cv_results_Lasso.csv", encoding='utf-8', header=True)

In [16]:
save_result(xd, 'Lasso')

### cv_results for SGDRegressor

In [17]:
df = pd.read_csv("../data/all_models/SGDRegressor.csv", header=0, index_col=0)

In [18]:
df.columns.values

array(['mean_fit_time', 'std_fit_time', 'mean_score_time',
       'std_score_time', 'param_alpha', 'param_learning_rate',
       'param_random_state', 'params', 'split0_test_score',
       'split1_test_score', 'split2_test_score', 'split3_test_score',
       'split4_test_score', 'split5_test_score', 'split6_test_score',
       'split7_test_score', 'split8_test_score', 'split9_test_score',
       'mean_test_score', 'std_test_score', 'rank_test_score'],
      dtype=object)

In [19]:
dd=df.groupby(['param_alpha', 'param_learning_rate']).agg({'mean_test_score': "mean", 'std_test_score': "mean"})

In [20]:
xd=pd.DataFrame(dd)

In [21]:
xd

                                 mean_test_score  std_test_score
param_alpha param_learning_rate
0.00000     constant               -3.805808e-01    1.402958e+00
            invscaling             -3.584252e-01    1.389057e+00
            optimal                          NaN             NaN
0.00001     constant               -3.805663e-01    1.402935e+00
            invscaling             -3.584263e-01    1.389057e+00
            optimal                -1.589106e+30    2.068881e+30
0.00010     constant               -3.803521e-01    1.402755e+00
            invscaling             -3.584363e-01    1.389054e+00
            optimal                -5.013715e+28    7.327387e+28
0.00100     constant               -3.790012e-01    1.400709e+00
            invscaling             -3.586896e-01    1.388947e+00
            optimal                -3.697679e+26    4.980984e+26
0.01000     constant               -3.728069e-01    1.389149e+00
            invscaling             -3.610035e-01    1.389089e+00
            optimal                -1.529311e+24    2.704604e+24

In [22]:
xd.to_csv("../data/all_models/cv_results_interpretation/cv_results_SGDRegressor.csv", encoding='utf-8', header=True)

In [23]:
save_result(xd, 'SGDRegressor')

### cv_results for LinearRegressor

In [24]:
df = pd.read_csv("../data/all_models/LinearRegression.csv", header=0, index_col=0)

In [25]:
df.columns.values

array(['mean_fit_time', 'std_fit_time', 'mean_score_time',
       'std_score_time', 'params', 'split0_test_score',
       'split1_test_score', 'split2_test_score', 'split3_test_score',
       'split4_test_score', 'split5_test_score', 'split6_test_score',
       'split7_test_score', 'split8_test_score', 'split9_test_score',
       'mean_test_score', 'std_test_score', 'rank_test_score'],
      dtype=object)

In [26]:
dd=pd.DataFrame()

In [27]:
dd = dd.assign(mean_test_score=[df["mean_test_score"].mean()])
dd = dd.assign(std_test_score=[df["std_test_score"].mean()])

In [28]:
xd=pd.DataFrame(dd)

In [29]:
xd

   mean_test_score  std_test_score
0    -4.150485e+25    5.480480e+25

In [30]:
save_result(xd, 'LinearRegressor')

In [31]:
xd.to_csv("../data/all_models/cv_results_interpretation/cv_results_LinearRegressor.csv", encoding='utf-8', header=True)

In [32]:
res=pd.DataFrame(results)

In [33]:
res

             model                               params
0              SVR  (0.1, 0.01, 3, auto, linear, 1e-05)
1            Lasso                                 0.01
2     SGDRegressor                    (0.0, invscaling)
3  LinearRegressor                                    0

In [34]:
res.to_csv("../data/all_models/cv_results_interpretation/cv_results_all_models.csv", encoding='utf-8', header=True)